<div class="bg-slate-100 my-16">
    <div class="flex gap-10">
        <div class="flex flex-col gap-5">
            <p class="font-bold text-6xl text-blue-950">COVID-19 Risk Assessment Tool</p>
            <p class="text-gray-500">A set of solutions designed to help quickly identify coronavirus symptoms and get reliable information regarding COVID-19 concerns.</p>
            <p class="bg-custompink p-2 text-white w-40 rounded-lg text-center">See how to use it</p>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <img src="assets/1.png" class="rounded-lg">
            <img src="assets/2.png" class="rounded-lg">
            <img src="assets/3.png" class="rounded-lg">
            <img src="assets/4.png" class="rounded-lg">
            <img src="assets/5.png" class="rounded-lg">
            <img src="assets/6.png" class="rounded-lg">
        </div>
        <div class="grid grid-cols-1">
            <img src="assets/7.png" alt="Image 7" class="rounded-lg">
        </div>
    </div>
</div>
