<div class="flex justify-center gap-40">
    <div class="grid grid-cols-3 gap-16 ">
        <div class="flex flex-col border p-4  rounded-lg">
            <img src="assets/1.png" class="w-16 rounded-full mx-auto my-2 ">
            <p class="text-center font-bold my-4 text-blue-950">Triage</p>
            <p class="text-gray-500 ">Triage is a systematic process of prioritizing and categorizing
                 individuals or items based on their level of urgency or
                  importance.</p>            
        </div>
        <div class="flex flex-col border p-4  rounded-lg">
            <img src="assets/2.png" class="w-16 rounded-full mx-auto my-2 ">
            <p class="text-center font-bold my-4 text-blue-950">Recommendation</p>
            <p class="text-gray-500">Triage is a systematic process of prioritizing and categorizing
                 individuals or items based on their level of urgency or
                  importance.</p>            
        </div>
        <div class="flex flex-col border p-4  rounded-lg">
            <img src="assets/3.png" class="w-16 rounded-full mx-auto my-2 ">
            <p class="text-center font-bold my-4 text-blue-950">Local information</p>
            <p class="text-gray-500">Triage is a systematic process of prioritizing and categorizing
                 individuals or items based on their level of urgency or
                  importance.</p>            
        </div>           
    </div>
    <div class="grid grid-cols-1 my-3">
        <p class="font-bold text-3xl text-blue-950">How it helps people</p>
        <p class="text-blue-950">Triage plays a crucial role in helping people by efficiently managing resources, prioritizing tasks, and responding to urgent needs.</p>
        <p class="text-gray-500">Enhance your preliminary diagnosis and triage with pediatric content <span class="text-custompink">Learnmore ----></span></p>
        <p class="rounded-lg border bg-white w-28 text-blue-950 p-2 font-bold text-center">Get in touch</p>
    </div>
</div>