<div class="bg-slate-100 p-2 mb-5">
    <div class="my-16 text-center">
        <p class="text-blue-950 font-bold text-2xl ">Why you can trust this tool</p>
    </div>
    <div class="justify-center">
        <div class="grid grid-cols-2 gap-24 my-10 ">
            <div class="flex flex-col gap-6 mx-16">
                <p class="text-blue-950 text-2xl">Based on reliable sources</p>
                <p class="text-blue-950">When seeking information, especially on recent events or developments, it's crucial to rely on reputable and up-to-date sources for accurate and reliable information. </p>
                <p class="text-gray-500 text-sm">Enhance your preliminary diagnosis and triage with pediatric content <span class="text-custompink">Learnmore ----></span></p>
            </div>
            <div class="flex flex-col gap-6" >
                <p class="text-blue-950 text-2xl">Based on reliable sources</p>
                <p class="text-blue-950">When seeking information, especially on recent events or developments, it's crucial to rely on reputable and up-to-date sources for accurate and reliable information. </p>
                <p class="text-gray-500 text-sm">Enhance your preliminary diagnosis and triage with pediatric content <span class="text-custompink">Learnmore ----></span></p>
            </div>
        </div>
    </div>  
</div>